@charset "UTF-8";

/*Configuração geral*/
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section{
    background-color: white;
    width: 300px;
    height: 600px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    overflow: hidden;

    transition: width 0.5s, heigth 0.5s;
}

#imagem{
    background-image: url(imagens/fundo01.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}

#bloco1{
    margin-top: -20px;
    background-color: rgb(71, 0, 71);
    border-radius: 5px;
    margin-bottom: 5px;
}

#bloco2{
    background-color: rgb(71, 0, 71);
    border-radius: 5px;
}

svg{
    width: 40px;
    height: 30px;
    transform: translate(2px, 6px);
}

form > input[type=submit]{
    display: block;
    width: 100%;
    margin-top: 13px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: rgb(160, 90, 224);
    padding: 5px 0px;
    color: white;
}

form > input[type=button]{
    display: block;
    width: 100%;
    font-size: 18px;
    margin-top: -8px;
    border-radius: 5px;
    border: 3px solid rgb(160, 90, 224);
    background-color: white;
    padding: 3px 0px;
    color: rgb(61, 61, 61);
}




/*celular e tablet menores*/
@media screen and (min-width: 300px) and (max-width: 768px){
    body{
        background-color: blueviolet;
    }

    section{
        width: 300px;
        height: 650px;
    }
    
    #imagem{
        height: 400px;
    }

    #login{
        padding: 0px 40px;
        margin-top: -10px;
    }

    h1{
        font-size: 30px;
    }

    #bloco1, #bloco2{
        height: 45px;
    }
    
    form > div > input[type=text]{
        padding: 4px;
        width: calc(100% - 55px);
        transform: translate(40px, -31px);
        height: 25px;
        border-radius: 5px;
    }    
}

/*tablet maiores e tela menores*/
@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background: linear-gradient(to top , blueviolet, #5cff5cab) no-repeat;
    }
    
    section{
        width: 600px;
        height: 330px;
    }
    
    #imagem{
        width: 250px;
        height: 100%;
    
        float: left;
    }
    
    #login{
        float: right;
        margin-right: 65px;
        margin-top: 10px;
    }

    h1{
        font-size: 2.5em;
    }

    #bloco2{
        margin-bottom: 20px;
    }

    form > div > input[type=text]{
        padding: 5px;
        transform: translate(-3px, -4px);
        height: 25px;
        border-radius: 5px;
    }
}

/*telas maiores*/
@media screen and (min-width: 992px){

    body{
        background: linear-gradient(to top , #5cff5cab, blueviolet) no-repeat;
    }
    
    section{
        width: 800px;
        height: 400px;
    }
    
    #imagem{
        height: 100%;
        width: 350px;
    
        float: right;
    }
    
    #login{
        float: left;
        margin-left: 120px;
        margin-top: 40px;
    }
    
    h1{
        font-size: 2.5em;
    }

    #bloco2{
        margin-bottom: 20px;
    }
    
    form > div > input[type=text]{
        padding: 5px;
        transform: translate(-3px, -4px);
        height: 25px;
        border-radius: 5px;
    }
}