@charset "UTF-8";

table{
    border-collapse: collapse;
}

caption{
    font-size: 2em;
    font-family: arial;
    font-weight: bold;
}

tr, th, td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: 2px solid black;
    padding: 2px;
    width: 250px;
    height: 50px;
}

th{
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}

#mulheres{
    color: #ff0095;
    text-shadow: 2px 2px 2px #000000;
}

#homens{
    color: #0004ff;
    text-shadow: 2px 2px 2px #000000;
}